# UI & Web Framework
streamlit

# Deep Learning & Computer Vision
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
facenet-pytorch
timm
Pillow
opencv-python-headless

# Data Analysis & Visualization
numpy
pandas
plotly

# Utilities
reportlab
gdown